.App {
  text-align: center;
  padding: 20px;
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
}
